@import "tailwindcss";

@theme {
  --color-portfolio-green: #2D3E33;
  --color-portfolio-yellow: #E9A228;
  --color-portfolio-cream: #F1E8D9;
  --color-portfolio-orange: #F16335;
  --color-portfolio-dark: #1A1A1A;

  --font-serif: var(--font-serif), serif;
  --font-sans: var(--font-sans), sans-serif;
}

/* Estilos base para que todo combine */
body {
  background-color: var(--color-portfolio-cream);
  color: var(--color-portfolio-green);
}